.letreiro {
    width: 100%;
    background-color: #ffc105;
    text-align: center;
    padding: 4px 0;
}

nav {
    padding: 12px 24px;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 0 8px;
    padding: 12px 12px;

    cursor: pointer;
}
nav ul li:hover {
    color: red;
    
}