header {
    background-color: bisque;
}

.letreiro {
    width: 100%;
    background-color: #ffc105;
    text-align: center;
    padding: 4px 0;
}

nav {
    display: flex;
    padding: 12px 0px;
    width: 100%;

    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin: 0 8px;
    padding: 12px 12px;

    cursor: pointer;
}

nav ul li:hover {
    color: red;
    
}
